{% extends 'tom_common/base.html' %}
{% load bootstrap4 static superevent_extras %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_superevents/css/main.css' %}">
<!-- put template-specific css here -->
<style type="text/css">
</style>
{% endblock additional_css %}

<!-- tom_superevents/superevent_detail/gravitational_wave.html -->
{% block page_banner %}
<script>
object_id = {{ object.id }};
object_api_url = "{{ object.api_url }}";
$(document).ready(function(){
    $.noConflict();
    console.log(object_api_url);
    jQuery.ajax({url: object_api_url, success: function(result){
        console.log(result);
    }});
});
</script>
<div id="superevent-banner" class="py-4 pl-3 jumbotron jumbotron-fluid text-white">
    <div class="row mr-auto">
        <div class="col-md-2">
            <h1><span id="superevent_name">{{ object.superevent_id }}</span></h1>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <h3><span id="">Update {{ superevent_data.update_version }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">MassGap {{ superevent_data.MassGap|percentage_filter }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">NSBH {{ superevent_data.NSBH|percentage_filter }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">90%: {{ superevent_data.90_percent }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">{{ superevent_data.instruments }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">FAR {{ superevent_data.far|percentage_filter }}</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3><span id="">BNS {{ superevent_data.BNS|percentage_filter }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">Terrestrial {{ superevent_data.Terrestrial|percentage_filter }}</span>
                    </h3>
                </div>
                <div class="col">
                    <h3><span id="">BBH {{ superevent_data.BBH|percentage_filter }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">50%: {{ superevent_data.50_percent }}</span></h3>
                </div>
                <div class="col">
                    <h3><span id="">{{ superevent_data.unknown_field }}</span></h3>
                </div>
                <div class="col">
                    <h3>
                        <span id="">NS/Rem: {{ superevent_data.HasNS }}/{{ superevent_data.HasRemnant }}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page_banner %}

{% block content %}
<div>
    <h1>Superevent Detail (GW)</h1>
    {{ object.id }}
    {{ object.superevent_id }}
    {{ object.superevent_url }}
</div>
{% endblock content %}
