{% extends 'tom_common/base.html' %}
{% load bootstrap4 static superevent_extras %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'tom_superevents/css/main.css' %}">
{% endblock %}
{% block content %}
<script>
object_id = {{ object.id }};
object_api_url = "{{ object.api_url }}";
$(document).ready(function(){
    $.noConflict();
    console.log(object_api_url);
    jQuery.ajax({url: object_api_url, success: function(result){
        console.log(result);
    }});
});
</script>
<div id="superevent-banner" class="jumbotron jumbotron-fluid" style="width: 100%; top: 56px;">
    <div>
        <div class="row mr-auto">
            <div class="col-md-2">
                <span id="superevent_name">{{ object.superevent_id }}</span>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col">
                        <span id="">Update {{ superevent_data.update_version }}</span>
                    </div>
                    <div class="col">
                        <span id="">MassGap {{ superevent_data.MassGap|percentage_filter }}</span>
                    </div>
                    <div class="col">
                        <span id="">NSBH {{ superevent_data.NSBH|percentage_filter }}</span>
                    </div>
                    <div class="col">
                        <span id="">90%: {{ superevent_data.90_percent }}</span>
                    </div>
                    <div class="col">
                        <span id="">{{ superevent_data.instruments }}</span>
                    </div>
                    <div class="col">
                        <span id="">FAR {{ superevent_data.far|percentage_filter }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span id="">BNS {{ superevent_data.BNS|percentage_filter }}</span>
                    </div>
                    <div class="col">
                        <span id="">Terrestrial {{ superevent_data.Terrestrial|percentage_filter }}</span>
                    </div>
                    <div class="col">
                        <span id="">BBH {{ superevent_data.BBH|percentage_filter }}</span>
                    </div>
                    <div class="col">
                        <span id="">50%: {{ superevent_data.50_percent }}</span>
                    </div>
                    <div class="col">
                        <span id="">{{ superevent_data.unknown_field }}</span>
                    </div>
                    <div class="col">
                        <span id="">Has NS / Rem: {{ superevent_data.HasNS }} / {{ superevent_data.HasRemnant }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}