.superevent-banner {
    margin: 0 !important;
    background-color: #06345c !important;
    color: white !important;
    padding: 0;
    border-radius: 0 !important;
}

.superevent-banner .card-title{
    margin-bottom: 0;
}

.jumbotron .superevent-banner{
    color: white !important;
    background-color: #06345c;
    margin-bottom: 0;
    padding: 0;
    border-radius: 0;
}

#superevent-sequences .card-header {
    border-radius: 0;
    background-color: #06345c;
    border-bottom: 0;
}

#superevent-sequences .nav-item {
    padding-right: 8px;
}

#superevent-sequences .nav-link {
    color: rgb(200, 200, 200);
    background-color: #06345c;
}

#superevent-sequences .nav-link:hover {
    color: white;
    outline: 2px solid #0e538e;
}

#superevent-sequences .nav-link.active {
    color: white;
    background-color: #0e538e;
}
